@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overscroll-behavior: none;
}
@keyframes fadeOut {
  0% {
    background-color: rgb(75, 81, 255);
  }
  100% {
    background-color: transparent;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes gridFadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -40%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
@keyframes moveUp {
  from {
    transform: translate(-50%, -50%);
  }
  to {
    transform: translate(-50%, calc(-50% - 150px));
  }
}
@keyframes quoteFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.circle.fade {
  animation: fadeOut 2s forwards;
}
.circle.wave {
  background-color: rgb(75, 81, 255) !important;
  border-color: transparent !important;
}
